
.example-button-row{
  display: flex;
  align-items: right;
  justify-content: space-around;
}

.login-button{
  text-decoration: underline;
  font-size: x-small;
}
.error-message{
  color: darkred; font-size: x-small;
}
