
      <md-card *ngFor="let review of reviews">
        <md-card-title>{{review.name}}</md-card-title>
        <md-card-content>
          <p>Rate : {{review.rate}}</p>
          <p>Description : {{review.description}}</p>
        </md-card-content>
        <Button md-button>Edit</Button>
      </md-card>

      <md-input-container>
        <input reviewName placeholder="Name.." [(ngModel)]="name">
        <input reviewRate placeholder="Rate.." [(ngModel)]="rate">
      </md-input-container>






