
      <md-card *ngFor="let review of reviews">
        <md-card-title>{{review.name}}</md-card-title>
        <md-card-content>
          Rate : {{review.rate}}<fa [name]="'star'" [size]=1 ></fa>
          <br/>Description : {{review.description}}<fa [name]="'sticky-note'" [size]=1 ></fa>
          <hr/>
        </md-card-content>
        <button md-raised-button [color]="'primary'">Edit</button>
      </md-card>

      <md-input-container>
        <input mdInput placeholder="Name.." [(ngModel)]="name">
      </md-input-container>

      <md-input-container>
      <input mdInput placeholder="Rate.." [(ngModel)]="rate">
      </md-input-container>






